@use "./utils";
::-webkit-scrollbar {
  width: 0.3vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #efefef;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444444;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100vh;
}
#app {
}

.header {
  height: 5%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;

  p {
    font-weight: 500;
    font-size: 1vw;
  }

  .settings-icon {
    height: 50%;
    width: auto;
    color: white;
    cursor: pointer;
  }
}

section.section {
  height: 95%;
  overflow: hidden;
  background: radial-gradient(circle, #3a0000, #000);
  padding: 0 2%;

  .cicrle {
    width: 150%;
  }

  .top {
    padding-top: 1%;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    .duration {
      border: 8px solid silver;
      width: 8%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: radial-gradient(10%, #3a0000, #000);

      .inner {
        border: 8px solid silver;
        width: 70%;
        height: 70%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 2vw;
        font-weight: 600;
      }
    }

    .balance {
      border: 8px solid silver;
      width: 8%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: radial-gradient(10%, #3a0000, #000);
      position: relative;

      .inner {
        border: 8px solid silver;
        width: 70%;
        height: 70%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 2vw;
        font-weight: 600;
      }

      .wallet {
        position: absolute;
        border: 8px solid silver;
        bottom: 0;
        left: 50%;
        width: 120%;
        background-color: #000000;
        color: #ffffff;
        border-radius: 30px;
        padding: 5%;
        transform: translate(-50%, 30%);
        text-align: center;
      }
    }

    .question {
      width: 70%;
      background-color: #ffffff;
      border-radius: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5vw;

      p {
        width: 70%;
        text-align: center;
      }
    }

    .select-category {
      width: 70%;
      background: radial-gradient(10%, #3a0000, #000);
      border: 5px solid silver;
      border-radius: 5vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 1vw;

      .choose {
        background-color: #6a0102;
        width: 50%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

  .main {
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: end;
    padding: 0 2vw;
    gap: 2vw;

    .answer {
      display: flex;
      flex-direction: column;
      gap: 1vw;

      .display {
        border: 5px solid silver;
        width: 100%;
        aspect-ratio: 10/3;
        // height: 3vw;
        padding: 1vw 0;
        background-color: #3a0000;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          width: 80%;
          color: #ffffff;
          text-align: center;
          margin: auto;
          font-size: 1vw;
        }
      }

      .input {
        border: 5px solid silver;
        width: 100%;
        aspect-ratio: 10/3;
        padding: 1vw 0;
        background-color: #000000;
        border-radius: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: #ffffff;
          font-size: 2vw;
        }

        .buttons {
          display: flex;
          gap: 5%;
          position: absolute;
          justify-content: center;
          width: 100%;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);

          button {
            aspect-ratio: 1;
            border-radius: 50%;
            width: 20%;
            font-size: 2vw;
            color: #444444;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.modal {
  width: 30%;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  background-color: #3a0000;
  border: 5px solid silver;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;

  &.win,
  &.lose,
  &.completed {
    width: 50%;
    aspect-ratio: 2/1;
    font-size: 1.5vw;
    background-color: #3a0000;
    border: 5px solid silver;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border-radius: 20px;
    text-align: center;

    button {
      width: 40%;
      padding: 0.5vw;
      border-radius: 20px;
      cursor: pointer;
    }
  }

  &.begin {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #3a0000;
    border-radius: 0;
    transform: translate(0, 0);
    border: none;

    button {
      width: 40%;
      padding: 0.5vw;
      border-radius: 20px;
      cursor: pointer;
      background-color: #3a0000;
      border: 5px solid silver;
      color: #ffffff;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &.settings {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #3a0000;
    border-radius: 0;
    transform: translate(0, 0);
    border: none;

    .inner {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      table {
        font-size: 1vw;
        width: 20%;

        td {
          &:nth-child(2) {
            text-align: right;
          }
        }
      }

      button {
        width: 20%;
        padding: 0.5vw;
        border-radius: 20px;
        cursor: pointer;
        background-color: #3a0000;
        border: 5px solid silver;
        color: #ffffff;
        font-size: 1vw;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
